/*
#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
    height: 100%;
}
*/
#drop_zone {
  height: 100%;
}
